-
  var scenarios = [{
    src: './images/sun.png',
    alt: 'sun',
    text: 'Выключить весь свет в доме и во дворе'
  }, {
    src: './images/clock-off.png',
    alt: 'clock',
    text: 'Я ухожу'
  }, {
    src: './images/sun.png',
    alt: 'sun',
    text: 'Включить свет \u2028в коридоре'
  }, {
    src: './images/temperature.png',
    alt: 'temperature',
    text: 'Набрать горячую ванну',
    footnote: 'Начнётся в 18:00'
  }, {
    src: './images/temperature.png',
    alt: 'temperature',
    text: 'Сделать пол тёплым во всей квартире'
  }];
  var centralList = [{
    src: './images/temperature-off.png',
    alt: 'temperature',
    text: 'Philips Cooler',
    footnote: 'Начнет охлаждать в 16:30'
  }, {
    src: './images/sun-off.png',
    alt: 'sun',
    text: 'Xiaomi Yeelight LED Smart Bulb',
    footnote: 'Включится в 17:00'
  }];
  var devicesList = [{
    src: './images/sun.png',
    alt: 'sun',
    text: 'Xiaomi Yeelight LED Smart Bulb',
    footnote: 'Включено'
  }, {
    src: './images/sun-off.png',
    alt: 'sun',
    text: 'D-Link Omna 180 Cam',
    footnote: 'Включится в 17:00'
  }, {
    src: './images/temperature-off.png',
    alt: 'temperature',
    text: 'Elgato Eve Degree Connected',
    footnote: 'Выключено до 17:00'
  }, {
    src: './images/sun-off.png',
    alt: 'sun',
    text: 'LIFX Mini Day & Dusk A60 E27',
    footnote: 'Включится в 17:00'
  }, {
    src: './images/sun.png',
    alt: 'sun',
    text: 'Xiaomi Mi Air Purifier 2S',
    footnote: 'Включено'
  }, {
    src: './images/sun.png',
    alt: 'sun',
    text: 'Xiaomi Mi Air Purifier 2S',
    footnote: 'Включено'
  }, {

  }];
doctype html
html
  head
    title Yandex task 2
  body
    header.header
      a.logo(href='#')
        img.logo__img(src='./images/yandex.png' alt='logo')
      .top-menu
        .top-menu__item.top-menu__item-active
          a.top-menu__link(href='#') Сводка
        .top-menu__item
          a.top-menu__link(href='#') Устройства
        .top-menu__item
          a.top-menu__link(href='#') Сценарии
    .content
      .main
        .central
          h3.central__title Главное
          .central__wrapper
            .central__info
              .central__greeting Привет, Геннадий!
              .central__text Двери и окна закрыты, сигнализация включена.
              .central__temputure
                .central__temputure_item
                  .central__temputure_title Дома
                  .central__temputure_value +23
                .central__temputure_item
                  .central__temputure_title За окном
                  .central__temputure_value +19
                  img.central__temputure_img(src='./images/cloud-off.png')
            .functions
              .functions__list
                each item in centralList
                  .functions__item
                    .functions__img_area
                      img.functions__img(src= item.src, alt= item.alt)
                    .functions__text_area
                      p.functions__text= item.text
                      span.functions__footnote= item.footnote
        .scenarios
          h3.scenarios__title Избранные сценарии
          .functions
            .functions__list
              each item in scenarios
                .functions__item
                  .functions__img_area
                    img.functions__img(src= item.src, alt= item.alt)
                  .functions__text_area
                    p.functions__text= item.text
                    span.functions__footnote= item.footnote
      .devices
        .filter
          .filter__title Избранные устройства
          .filter__list
            .filter__item.filter__item-active Все
            .filter__item Кухня
            .filter__item Зал
            .filter__item Лампочки
            .filter__item Камеры
        .functions
          .functions__list
            each item in devicesList
              .functions__item
                .functions__img_area
                  img.functions__img(src= item.src, alt= item.alt)
                .functions__text_area
                  p.functions__text= item.text
                  span.functions__footnote= item.footnote
    footer.footer
      .bottom-menu
        .bottom-menu__item
          a.bottom-menu__link(src="#") Помощь
          a.bottom-menu__link(src="#") Обратная связь
          a.bottom-menu__link(src="#") Разработчикам
          a.bottom-menu__link(src="#") Условия использования
      .copyright © 2001–2017  ООО «Яндекс»

